{{ block "edit-todo" . }}
<form>
<li
    id="todo-{{ .Id }}"
    class="p-2 border-b rounded border-teal-100 flex items-center justify-between space-x-4"
>
    <input
        type="checkbox"
        {{ if .Done }} checked {{ end }}
        disabled
    />
    <input
        type="text"
        name="description"
        value="{{ .Description }}"
        class="px-1 rounded border border-slate-300"
    />
    <div class="flex-1 flex justify-end space-x-2">
        <button
            hx-put="/todos/{{ .Id }}/description"
            hx-target="#todo-{{ .Id }}"
            hx-swap="outerHTML"
            class="h-10 rounded px-8 bg-teal-500 text-teal-50"
            type="submit"
        >
            Save
        </button>
    </div>
</li>
</form>
{{ end }}
