{{ block "todo" . }}
<li
    class="p-2 border-b rounded border-teal-100 flex items-center justify-between"
>
    <label> {{ .Description }} </label>
    <input
        type="checkbox"
        name="done"
        hx-post="/todos/{{ .Id }}"
        {{
        if
        .Done
        }}
        checked
        {{
        end
        }}
    />
    <button hx-get="/todos/{{ .Id }}/edit" hx-target="#todo-{{ .Id }}" class="h-10 rounded px-8 bg-blue-500 text-blue-50">
        Edit
    </button>
    <button hx-post="/todos/{{ .Id }}/delete" hx-target="#todos" hx-swap="outerHTML" class="h-10 rounded px-8 bg-red-500 text-red-50">
        Remove
    </button>
</li>
{{ end }}
